.compare-card {
  animation-name: comparison;
  animation-duration: 2s;
  border: 7px solid #b94280;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  background-color: #ffe0d8;
  border: 5px solid #98fffe;
  border-radius: 5px;
  font-family: 'Bungee', cursive;
  margin: 10px;
  text-align: center;
  height: 280px;
  /*transition: ease 2s;*/
  width: 200px;
  z-index: -1;
}

@keyframes comparison {
    0%   { margin-top: 2000px}
    100% { margin-top: 10px}
}

h3 {
  margin: 5px 15px;
}

h4 {
  margin: 5px;
}

.ratio {
  font-size: 1.5em;
  margin: 30px 0;
}
