.school-card,
.school-compare {
  background-color: #00b2ab;
  border-radius: 7px;
  cursor: pointer;
  display: absolute;
  margin: 15px 25px;
  text-align: center;
  height: 350px;
  width: 200px;
}

.school-card {
  border: 7px outset #000;
  transition: 500ms;
}

.school-card:hover {
  border: 7px outset  #98fffe;
  transition: border 500ms;
}

.school-card:active {
  border: 7px inset #98fffe;
}

.school-compare {
  animation-name: drop-card;
  animation-duration: 2s;
  border: 7px solid #b94280;
  position: relative;
}

@keyframes drop-card {
    0%   { top:-500px; z-index: -100}
    100% { top: 0; z-index: -100}
}

.school-name {
  font-size: 1.3em;
}

.clicked-card {
  border: 7px outset #98fffe;
}

.year-percentages {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 3px auto;
  padding: 0;
  width: 65%;
}

.year-data {
  color: #222;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.school-name {
  margin: 5px 15px;
}

.average {
  margin-top: 2px;
}

.data-point {
  margin: 2px 0;
}

.below-five {
  color: #ffe0d8;
}

.low-average {
  background-color: #ff5900;
}
