.school-card,
.school-compare {
  background-color: #00b2ab;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
  text-align: center;
  height: 350px;
  width: 250px;
}

.school-card {
  border: 5px solid #000;
}

.school-compare {
  border: 5px solid #b94280;
}

.school-name {
  font-size: 1.3em;
}

ul {
  margin: 10px auto;
}

.clicked-card {
  border: 5px solid #98fffe;
}

.year-percentages {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 50%;
}

.year-data {
  color: #222;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.school-name {
  margin: 5px 15px;
}

.average {
  margin-top: 2px;
}

.data-point {
  margin: 2px 0;
}

.below-five {
  color: #ffe0d8;
}

.low-average {
  background-color: #ff5900;
}
