.all-cards {
  font-family: 'Bungee', cursive;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  float: left;
  height: 65vh;
  margin: 0;
  overflow-y: auto;
  /* width: 580px; */
  width: 43%;
}

.all-cards::-webkit-scrollbar {
  display: none;
}
