.search {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  width: 40%;
}

.search-bar {
  font-size: 1.3em;
  text-align: center;
  height: 30px;
  width: 250px;
}


@media (max-width: 900px) {
  .search {
    order: 2;
  }
}
